
body {
	background-color: #6995fb;
	line-height: 1.4em;
	padding: 0;
	margin: 0;
}

#left {
	background-color: #4673dd;
	line-height: 1em;
}
#left * {
	color: #eee;
    font-family: 'Montserrat', sans-serif;
}
#left h3 , #left h4 {
	color: #fff;
    margin-top: 5px;
}
#left .btn {
	color: #fff;
}
#left .btn.btn-default {
	color: #666;
}


#panel {
	padding: 5%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
#titleBox * {
	font-size: 2em;
}
#customTemplateOptions {
	display: none;
}




#page {
	/* width: 794px; */
	/* height: 29.7cm; */
	width: 21cm;
	background-color: white;
	margin: 1% auto 1% auto;
	padding: 0.2cm 1.3cm 1cm 1.3cm;
	box-shadow: 0px 0px 20px 0px #000;
	line-height: 1.4em;
	text-align: left;
}


#page h2 {
	margin-bottom: 4px;
}
#page h5 {
	margin-top: 2px; margin-bottom: 3px;
}

a {
	color: #666;
}
a.blue {
	color: blue;
	text-decoration: none;
	border-bottom: 1px dotted blue;
}
a.blue:hover {
	color: blue;
	text-decoration: none;
	border-bottom: 1px solid blue;
}

ul {
	margin-left: 20px;
	padding-left: 20px;
}
li {
	margin-top: 1%;
}
li li {
	margin-top: 0.25%;
}



.star {
	margin-top: 5px;
}
.light {
	font-weight: 300;
}
.grey {
	color: #666;
}
.borderless { margin-bottom: 0; }
.half {
	display: inline-block;
	width: 49.5%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.tab {
	margin-left: 10px;
}



#image_box {
	float: left;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 15px;
}
#info {
	margin-bottom: 0px;
	margin-top: auto;
}
#contact {
	text-align:right;
}
#contentMinor , #contentBranch {
	display: none;
}


.table tbody tr td, .table tbody tr th, .table thead tr th {
	border: none;
	padding: 0;
	font-size: 13.5px;
}
td {
	color: #444;
}
td.header {
	color: #333;
}
.table.customBordered , .table.customBordered * {
	border: 0px;
}
.table.customBordered {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
.table.customBordered tr {
	border-bottom: 1px solid #999;
}
.table.customBordered tr td {
	padding: 0px 5px 0px 5px;
	border-right: 1px solid #999;
}


.section-title h4 { 
	margin-top: 15px;
	margin-bottom: 0px;
}
.section-title.uppercase h4 {
	text-transform: uppercase;
}
.section-title.shaded h4 {
	padding: 3px;
	padding-left: 10px;
	font-size: 14px;
	background-color: #ccc !important;
}

.section-title.ruled.rule-above hr.hr-above {
	border: 1px solid hsl(0,0%,40%);
	margin-top: 0px; margin-bottom: 0px;
}
.section-title.ruled.rule-above hr.hr-below {
	border: none;
	margin: 0px;
}
.section-title.ruled.rule-below hr.hr-above {
	border: none;
	margin: 0px;
}
.section-title.ruled.rule-below hr.hr-below {
	border: 1px solid hsl(0,0%,40%);
	margin-top: 2px; margin-bottom: 5px;
}
.section-title.shaded hr { 
	border: none;
	margin: 0px;
}


.text {
	color: #444;
	font-size: 13.5px;
}
.time {
	color: #333;
	font-style: italic;
	margin-right: 1px;
}
.mentor {
	font-weight: 300;
	font-style: italic;
}
.link {
	color: #666;
	margin-left: 30px;
	font-weight: 300;
	font-style: italic;
	margin-right: 1px;
}

.no-link .link {
	display: none;
}

#sectionProjects .mentor , #sectionProjects .link {
	display: inline-block;
}
#sectionSkills li , #sectionCourses li {
	margin-top: 0.5%;
}
#sectionExperience .title , #sectionExperience .time {
	display: inline-block;
}
#sectionPublications .title , #sectionPublications .time {
	display: inline-block;
}
#sectionProjects .title , #sectionProjects .time {
	display: inline-block;
}
#sectionInterest {
	display: none;
}
#sectionFooterMessage {
	display: none;
}



#page.verdana-sans * {
	font-family: "Verdana", sans-serif;
}
#page.montserrat * {
	font-family: 'Montserrat', sans-serif;
}
#page.roboto * {
	font-family: 'Roboto', sans-serif;
}
#page.droid * {
	font-family: 'Droid Serif', serif;
}
.droid strong , .verdana-sans strong , .montserrat strong {
	font-weight: 700;
}
.roboto strong {
	font-weight: 500;
}
.droid .title , .verdana-sans .title , .montserrat .title {
	font-weight: 700;
}
.roboto .title {
	font-weight: 500;
}

#notice {
	background-color: #FFC300;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
}
#notice a {
	color: #F1C40F;
}