::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px hsla(0,0%,0%,0.3);
	border-radius: 0px;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	 background-color: hsla(0,0%,100%,0.5);
	-webkit-box-shadow: inset 0 0 6px hsla(0,0%,100%,1);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsla(0,0%,100%,0.7);
}